body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #F76E11;
}

.knock {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

.container-fluid {
    padding: 3% 15% 3%  15%;
}

/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
} 

.nav-link {
font-size: 1.2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}

/* Download button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title-image */

.title-image{
    /* width: 60%; */
    text-align: center;
    transform: rotate(25deg);
    position: absolute;
    top: 30%;


}

/* Session-2 */

.fa-solid{
    color: #FF9F45;
    width:100%;
    margin-bottom: 1rem ;
}

.fa-solid:hover{
    color: #F76E11;
}

#features{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.icon-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.icon-message {
    color: #8f8f8f;
}


/* Testimonial session */

#testimonials {
    background-color: #FF9F45;
    text-align: center;
    color: white;

}

.testimonial-msg{
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 1.2rem;
}

#press{
    background-color: #FF9F45;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 20px 50px;
} 
.carousel-item {
    padding: 7% 15%;
} 

.carousel-indicators {
    padding-top: 3.5rem;
}

/* pricing section */

#pricing {
    padding:7% 12%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.pricing-div {
    padding:3% 2%;
}

.pricing-title {
    font-weight: bold;
    font-size: 3rem;

}

.pricing-head {
    font-weight: bold;
}

.card:hover {
    background-color: lightgrey;
   
}

/* cta section */
#cta {
    background-color: #F76E11;
    font-family: 'Montserrat', sans-serif;
    padding: 7% 15%;
    text-align: center;
}

.cta-text {
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

#footer {
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    padding: 5% 15% 3% 15%;
}

.icon {
    color: black;
    padding: 2% 1%;
}

.icon:hover {
    color: #F76E11;
}

.copywrite {
    font-size:smaller;
}

@media (max-width:994px){
    #title {
        text-align: center;
    }
    .title-image{
        width: 60%;
        position: static;
        transform: rotate(0);

    }
}

