body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.colored-section {
    background-color: #F76E11;
    color: white;
}

.non-colored {
    background-color: white;
}

.pad {
    padding: 7% 15%;
}

/* Title Section */

#title {  
    text-align: left;
}

.big-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
  
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
} 

.nav-link {
font-size: 1.2rem;
font-weight: 400;
}

/* Download button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title-image */

.title-image{
    transform: rotate(25deg);
    position: absolute;
    top: 30%;


}

/* Feature Section */

.fa-solid{
    color: #FF9F45;
    width:100%;
    margin-bottom: 1rem ;
}

.fa-solid:hover{
    color: #F76E11;
}

#features{
    position: relative;
}

.icon-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.icon-message {
    color: #8f8f8f;
}


/* Testimonial Section */

#testimonials {
    background-color: #FF9F45;

}


.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 1.2rem;
}

#press{
    background-color: #FF9F45;   
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 20px 50px;
} 
 

.carousel-indicators {
    padding-top: 3.5rem;
}

/* Pricing Section */

.pricing-head {
    font-weight: bold;
}

.card:hover {
    background-color: lightgrey;
   
}

/* Footer  */

#footer {
    padding: 3% 15%;
}

.icon {
    color: black;
    padding: 2% 1%;
}

.icon:hover {
    color: #F76E11;
}

.copywrite {
    font-size:smaller;
}

/* Media Query */

@media (max-width:994px){
    #title {
        text-align: center;
    }
    .title-image{
        width: 60%;
        position: static;
        transform: rotate(0);

    }
}

